.list-group {
  max-height: 500px;
  overflow-y: auto;
}

.rating {
  display: inline;
  font-size: 0.5em;
}

.rating li {
  display: inline;
  margin-right: 0.2em;
}

.rating .fa {
  color: #C6BF2D;
}

.torrent-ratio {
  font-size: 0.5em;
  margin-left: 1em;
}

.torrent-ratio-good {
  color: #3BC526;
}

.torrent-ratio-medium {
  color: #C6BF2D;
}

.torrent-ratio-bad {
  color: #F00;
}