extends ../layout

block content
    mixin pagination
        .row.text-center
            .col-lg-12
                include ../includes/pagination

    .row
        .col-lg-12
            h1.page-header
                | Movies&nbsp
                small Category

    +pagination
    hr

    each movie, index in movies
        if index % 4 == 0
            .row
        .col-md-3.portfolio-item
            a(href="/movies/#{movie._id}")
                img.img-responsive(src='#{movie.images.poster}', alt='#{movie.title}')

    hr
    +pagination
    hr