footer
    .row
        .col-lg-12
            p Copyright &copy; Movieshark #{moment().get('year')}
            p
                a(href='https://github.com/Sedentary/movieshark')
                    i.fa.fa-github-alt
                    | GitHub

                a(href='/tos')
                    i.fa.fa-file-text-o
                    | Terms of Service

                a(href="mailto:moviesharkweb@gmail.com?subject=#{movieshark} - contact")
                    i.fa.fa-envelope-o
                    | Contact