meta(name='author' content='MovieShark')
meta(name='keywords' content='movie,shark,movieshark,download,streaming,movies,tv,shows,free,hd,android,ios,serie,series')
meta(name='description' content='Watch the best movies and series in MovieShark instantly in HD, direct browser, with subtitles for free! Available for all devices with internet access.')

- var urlHeroku = 'https://movieshark-app.herokuapp.com'
meta(property='og:site_name' content='MovieShark')
meta(property='og:type' content='website')
meta(property='og:url' content="#{urlHeroku}")
meta(property='og:title' content='MovieShark')
meta(property='og:description' content='Watch the best movies and series in MovieShark instantly in HD, direct browser, with subtitles for free! Available for all devices with internet access.')
meta(property='og:image' content="#{urlHeroku}/img/movieshark.png")