video#video.video-js(controls='', preload='none', width='auto', height='300', poster='#{poster}', data-setup='{}')
    source(src="/stream?#{magnet}" type='video/mp4')
    source(src="/stream?#{magnet}" type='video/webm')
    source(src="/stream?#{magnet}" type='video/ogg')

    include subtitles

    p.vjs-no-js
        | To view this video please enable JavaScript, and consider upgrading to a web browser that
        a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
