# top-most EditorConfig file
root = true

# Set default charset
[*.{js,json,jade}]
charset = utf-8

# Indentation override for js
[*.{js,json}]
indent_style = space
indent_size = 2

# Indentation override for jade
[*.jade]
indent_style = space
indent_size = 4