nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            a.navbar-brand(href='/') Movieshark

//if lt IE 7
    p.browsehappy
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.