doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title MovieShark#{!!title ? " - " + title : ''}
        link(rel='stylesheet', href='/bower_components/html5-boilerplate/dist/css/normalize.css')
        link(rel='stylesheet', href='/bower_components/html5-boilerplate/dist/css/main.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/4-col-portfolio.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        block stylesheets
    body
        include ../includes/navigation
        
        .container
            block content

        include ../includes/footer

        script(src='/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/javascript/main.js')

        block javascripts